.container{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: #009975;
    border: .08em solid black;
}

.games{
    background-color: #009975;
    margin-left: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: .5%;
    border: .08em solid black;
    width: 49%;
    height: 75%;
    color: white;
    float: right;
}

.about{
    background-color: #009975;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: .5%;
    border: .08em solid black;
    width: 49%;
    height: 40%;
    color: white;
    float: left;
}

.submit{
    background-color: #009975;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: .5%;
    border: .08em solid black;
    width: 49%;
    height: 35%;
    color: white;
    float: left;

}

header{
    width: 98%;
    height: 10%;
    background-color: #009975;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

nav{
    width: 98%;
    height: 5%;
    background-color: darkgreen;
    margin-left: auto;
    margin-right: auto;
    margin-top: .5%;
    margin-bottom: 1%;;
    color: white;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-left: 1.4em;
}

nav a{
    border: .05em solid black;
    background-color: white;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-left: 2em;
    padding-right: 2em;
}

header h1{
    text-align: left;
    font-family: 'Rye';
    font-size: 50px;
    color: white;
    padding: .1em;
}

body{
    background-color: 	gray;
    font-family: 'Times New Roman', Times, serif;
}

footer{
    text-align: center;
    width: 98%;
    height: 10%;
    background-color: #009975;
    margin-left: auto;
    margin-right: auto;
    color: white;
    clear: both;
    border-top: .05em solid black;
    padding-left: 1.3em;
}

a.active {
    background-color: gray;
    
}