<!DOCTYPE html>
<html>

<head>
	<title>Celtic Games - Video Game Reviews</title>
	<meta content="en-ie" http-equiv="Content-Language" />
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	<link href='https://fonts.googleapis.com/css?family=Rye' rel='stylesheet'>
  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
  
</head>

<div class = "container">

<header>
        <h1>Celtic Games</h1>
        
</header>

<body>
	<nav>
		  <a class="active" href="/">Home</a>
			<a href="/games">Games</a>
			<a href="/about">About Us</a>
			<a href="/reviews">Reviews</a>
	</nav>

	<div class = "games">
		<h3>Games</h3>
		<p>Content Here</p>
		<p>Content Here</p>
		<p>Content Here</p>
		<p>Content Here</p>
		<p>Content Here</p>
		<p>Content Here</p>
		<p>Content Here</p>
		<p>Content Here</p>
		<p>Content Here</p>
		<p>Content Here</p>
		<p>Content Here</p>
		<p>Content Here</p>
		<p>Content Here</p>
		<p>Content Here</p>
		<p>Content Here</p>
		<p>Content Here</p>
		<p>Content Here</p>
		<p>Content Here</p>
		<p>Content Here</p>
	</div>

	<div class = "about">
		<h3>About</h3>
		<p>Content Here</p>
		<p>Content Here</p>
		<p>Content Here</p>
		<p>Content Here</p>
		<p>Content Here</p>
		<p>Content Here</p>
		<p>Content Here</p>
		<p>Content Here</p>
		<p>Content Here</p>
		<p>Content Here</p>
	</div>

	<div class = "submit">
		<h3>Submit</h3>
		<p>Content Here</p>
		<p>Content Here</p>
		<p>Content Here</p>
		<p>Content Here</p>
		<p>Content Here</p>
		<p>Content Here</p>
	</div>

</body>

<footer>
    <p>Copyright/Contacts Here</p>
</footer>

</div>

</html>